# Plaintext example of the vault file.
# See README.md for instructions on how to create and encrypt secrets.yml.
#
# To create your encrypted vault:
#   ansible-vault create playbooks/group_vars/all/secrets.yml
#
# To edit it later:
#   ansible-vault edit playbooks/group_vars/all/secrets.yml

admin_user: your_dom0_username
