#!/usr/bin/bash -f
if [[ $EUID -ne 0 ]]; then
  echo "This script must be run as root" 1>&2
  echo "Usage: sudo $0" 1>&2
  exit 1
fi
mkdir -p {{ sb_backup_folder }} && cd {{ sb_backup_folder }}
for var in PK KEK db dbx; do
  efi-readvar -v ${var} -o bak_${var}.esl
  sig-list-to-certs bak_${var}.esl bak_cert_${var}
done
chown -R {{ admin_user }}:{{ admin_user }} {{ sb_backup_folder }}
